* {
	margin: 5;
	padding: 10;
    box-sizing: border-box;
}
header{
    background-image: url(../images/fondo2.jpg);
}
button{
width: 100;
padding: 0;
margin :16px 0;
font-size: 16px;
font-family: cursive;
background: yellow;

}